html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    font-family: "Helvetica Neue", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

div {
    user-select: none;
    -ms-user-select: none; /* IE, Edge */
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Chrome、Safari、他 */
    width: 100%;
    height: 100%;
}

.nodisp {
    display: none;
}

.large-letters {
    font-size: 10vmin;
    font-weight: 700;
}

.screen {
    position: relative;
}

.parent-view {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: auto;
    width: 100vmin;
    height: 100vmin;
    background: #d2ffcc;
}

.view {
    position: absolute;
}

.view.start {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2px;
}

.view.main {
    display: block;
}

.view.result {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    text-align: center;
    color: white;
}

.button:hover {
    background-color: #44bb55;
}

.message {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: #99ff99;
    text-align: center;
}

.message::after {
    position: absolute;
    top: 1vmin;
    right: 1vmin;
    left: 1vmin;
    bottom: 1vmin;
    content: '';
    border: 0.5vmin dashed #ffffff;
    border-radius: 2vmin;
}

.message.result {
    position: absolute;
    top: 35%;
    left: 10%;
    width: 80%;
    height: 30%;
}

.message.result.victory {
    color: white;
    background-color: #ff2222;
}

.message.result.defeat {
    color: white;
    background-color: #152b99;
}

.board {
    display: grid;
    grid-template-columns: repeat(8, auto);
    gap: 2px;
    background-color: black;
    border: solid 2px black;
    box-sizing: border-box;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #44bb55;
}

.square:hover .stone.empty-for-black {
    background: rgba(0, 0, 0, 0.5);
    border: solid 2px rgba(51, 51, 51, 0.5);
}

.square:hover .stone.empty-for-white:hover {
    background: rgba(255, 255, 255, 0.5);
    border: solid 2px rgba(238, 238, 238, 0.5);
}

.stone {
    width: 9vmin;
    height: 9vmin;
    border-radius: 50%;
}

.stone.black {
    background: linear-gradient(to bottom right, #777777, #000000); 
    border: solid 2px #333333;
}

.stone.white {
    background: linear-gradient(to bottom right, #ffffff, #cccccc); 
    border: solid 2px #eeeeee;
}

.stone.empty-for-black {
    background: transparent;
    border: solid 2px transparent;
}

.stone.empty-for-white {
    background: transparent;
    border: solid 2px transparent;
}
